<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <main id="main">

        <ol>
            <% arr.forEach((item,idx) => { %>
                <li>
                    <div class="days<%=idx%>">
                        <%=item.day_raw%>
                    </div>
                </li>
                <%  }) %>
        </ol>
    </main>

    <div id="chart">

    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="app.js"></script>
</body>

</html>